.amazing
    display: flex
    position: relative
    background-color: $mainColor
    .bg2
        position: absolute
        bottom: -25.8125rem
        right: 0
    .img
        width: 50%
        top: -0.8125rem
        position: relative
        vertical-align: inherit      
    .content
        color: #fff
        right: -50%
        width: 41.875rem
        padding-left: 4.25rem
        z-index: 1
        margin-top: 18.5rem
        p
            padding-top: 1.9375rem
            padding-right: 1.875rem

@media only screen and (max-width: 50.0019rem)
    .amazing
        flex-direction: column
        .img
            width: 100%
        .content
            text-align: center
            margin-top: 1.25rem
            display: flex
            flex-direction: column
            align-items: center
            margin: 0 auto
            padding-left: 0
            p
                padding-right: 0

