.best
    margin-top: -1.875rem
    position: relative
    display: flex
    background-color: $mainColor
    >img
        position: absolute
        top: 30.75rem
    .content
        width: 617px
        margin-top: 308px
        position: relative
        color: #fff
        padding: 0px 1.25rem
        margin-left: auto
        margin-right: auto
        p
            padding-top: 32px
            padding-left: 10px
            font-size: 1.5625rem
        .btn
            margin-top: 83px
            margin-left: 8px
            padding: 0.6875rem 6.125rem
    .img
        position: relative
        width: 50%
        right: 0
        img
            width: 100%

    