.best
    margin-top: -1.875rem
    position: relative
    display: flex
    background-color: $mainColor
    >img
        position: absolute
        top: 30.75rem
    .content
        width: 617px
        margin-top: 308px
        position: relative
        color: #fff
        padding: 0px 1.25rem
        margin-left: auto
        margin-right: auto
        p
            padding-top: 32px
            padding-left: 10px
            font-size: 1.5625rem
        .btn
            margin-top: 83px
            margin-left: 8px
            padding: 0.6875rem 6.125rem
    .img
        position: relative
        width: 50%
        right: 0
        img
            width: 100%

@media only screen and (max-width: 800.03px) 
    .best
        >img
            display: none
        margin-top: -2px
        padding-top: 40px
        flex-direction: column-reverse
        .img
            width: 100%
        .content
            padding-left: 0
            padding-right: 0
            margin-top: 40px
            display: flex
            flex-direction: column
            margin: 0 auto
            align-items: center
            text-align: center
            padding-bottom: 60px
            .btn
                padding: 0.6875rem 13.125rem

    