.footer
    background-color: $bgColor
    color: #fff
    &__container
        padding-top: 6.6875rem
        display: flex
        padding-bottom: 5.25rem
        h3
            text-transform: uppercase
            font-size: 2.0831rem
        p
            font-size: 1.5625rem
        .item-left
            width: 34.375rem
            p
                padding-top: 1.5rem
            .list__icon
                padding-top: 2.375rem
                margin-left: -0.125rem
                a
                    padding-right: .75rem
        .item-right
            display: flex
            padding-left: 6.6875rem
            h3
                padding-bottom: 1.375rem
            p
                line-height: 1.7
            .item
                &:nth-child(2)
                    padding-left: 2.375rem
                &:nth-child(3)
                    h3
                        letter-spacing: .125rem
                    padding-left: 2.375rem


@media only screen and (max-width: 50.0019rem)
    .footer
        .footer__container
            flex-direction: column
            gap: 3.125rem 0
            .item-left
                display: block
                width: auto
            .item-right
                padding-left: 0
                justify-content: space-between


                    
            
    