@charset "utf-8"
body
    font-family: 'Oswald', sans-serif   

.container
    width: 1350px
    margin: 0 auto
    padding: 0 .9375rem
h2
    font-size: 4.6875rem
    font-weight: 700
    text-transform: uppercase
p
    font-size: 1.8575rem
    font-family: 'Montserrat', sans-serif

.title    
    margin-left: 2.3125rem    
    position: relative
    padding: 0 11.75rem
    padding-top: 5rem
    color: #fff
    text-align: center
    p
        padding-top: 1.75rem
.btn
    margin-top: 66px
    font-size: 1.8231rem
    text-transform: uppercase
    color: #fff
    padding: .6875rem 6.25rem
    background-color: $bgColor

@media screen and (min-width: 800.04px) 
    .wrapper   
        min-width: 1440px
        margin: 0 auto

    
@media screen and (max-width: 800.02px) 
    .wrapper 
        min-width: 700px
        margin: 0 auto
