@charset "utf-8"
body
    font-family: 'Oswald', sans-serif   
h2
    font-size: 4.6875rem
    font-weight: 700
    text-transform: uppercase
p
    font-size: 1.8575rem
    font-family: 'Montserrat', sans-serif

.title    
    margin-left: 2.3125rem    
    position: relative
    padding: 0 11.75rem
    padding-top: 5rem
    color: #fff
    text-align: center
    p
        padding-top: 1.75rem
.btn
    margin-top: 4.125rem
    font-size: 1.8231rem
    text-transform: uppercase
    color: #fff
    padding: .6875rem 6.25rem
    background-color: $bgColor

@media screen and (min-width: 50.0025rem) 
    .wrapper 
        min-width: 90rem
        margin: 0 auto   
    .container
        width: 1350px
        margin: 0 auto
        padding: 0 .9375rem
    .header
        .menu__toggle
            display: none

    
@media only screen and (max-width: 50.0019rem) 
    .wrapper 
        min-width: 50rem
        margin: 0 auto
    .container
        padding-left: 4vw
        padding-right: 4vw
    h2
        font-size: 3.125rem
    p
        font-size: 1.25rem
    .title
        padding: 5rem 0
        margin: 0 auto
    .btn
        padding: 0.6875rem 14.25rem
