@charset "UTF-8"
.header
    width: 100%
    z-index: 10
    position: fixed  
    background-color: $bgColor 
    .header__container
        display: flex
        align-items: center
        padding: 1.1875rem 1.375rem 1rem 1.375rem
        justify-content: space-between
    .seach
        display: flex
        margin-right: -0.125rem
@media only screen and (max-width: 50.0019rem)
    .header
        .seach
            display: none

            
       
                    
        
