.menu
    text-transform: uppercase
    display: flex
    gap: 0 2.5rem
    &-item
        a
            color: #fff
            font-size: 1.5625rem
        &:nth-child(2)
            padding-left: .875rem
        &:nth-child(3)
            padding-left: .975rem
        &:last-child
            padding-left: .3125rem

.menu__toggle 
    z-index: 20
    display: flex
    justify-content: center
    align-items: center
    width: 67px
    height: 67px
    position: relative
    cursor: pointer
    float: right
    span
        width: 33px
        height: 3px
        background-color: #fff
.menu__toggle::before 
    content: ""
    width: 33px
    height: 3px
    background-color: #fff
    position: absolute
    transform: translateY(12px)
    transition: all 0.2s linear

.menu__toggle::after 
    content: ""
    width: 33px
    height: 3px
    background-color: #fff
    position: absolute
    transform: translateY(-12px)
    transition: all 0.2s linear

.menu__toggle.open::before 
    transform: rotate(45deg)
    transition: all 0.2s linear

.menu__toggle.open::after 
    transform: rotate(-45deg)
    transition: all 0.2s linear

.menu__toggle.open>span
    display: none

@media only screen and (max-width: 800.03px) 
    .menu
        display: none
        align-items: center
        flex-direction: column
        position: fixed
        top: 100px
        left: 0
        right: 0
        justify-content: center
        width: 100%
        background-color: #303030
        gap: 40px 0
        padding-bottom: 40px
        &-item
            &:nth-child(2)
                padding-left: 0
            &:nth-child(3)
                padding-left: 0
            &:last-child
                padding-left: 0
        &.show
            display: flex
        
