.simon
    position: relative   
    overflow: hidden
    display: flex
    justify-content: center
    .simon__img
        margin-top: -8px
        position: relative
        width: 100%
        img
            width: 100%
    .simon__content
        top: 12.5rem
        position: absolute
        color: #fff
        text-align: center
        width: 950px
        p
            font-size: 3.125rem
            line-height: 1.2
            font-family: 'Nunito', sans-serif 
        h2
            padding-top: 42px
            font-size: 3.6456rem  