.simon
    position: relative   
    overflow: hidden
    display: flex
    justify-content: center
    .simon__img
        margin-top: -0.5rem
        position: relative
        width: 100%
        img
            width: 100%
    .simon__content
        top: 12.5rem
        position: absolute
        color: #fff
        text-align: center
        width: 59.375rem
        p
            font-size: 3.125rem
            line-height: 1.2
            font-family: 'Nunito', sans-serif 
        h2
            padding-top: 2.625rem
            font-size: 3.6456rem  


@media only screen and (max-width: 50.0019rem) 
    .simon
        .simon__content
            width: auto
            p
                font-size: 1.75rem 
            h2
                font-size: 2.5rem  