.stat
    margin-top: -18px
    padding-bottom: 233px
    position: relative
    background-color: $bgColor
    .stat__title
        padding: 11.3125rem 14.625rem 164px
        text-align: center
        color: #fff
        p
            padding-top: 1.8125rem
    .number__list
        padding-left: 121px
        display: flex
        padding-bottom: 1.875rem
        .item
            text-align: center
            color: #fff
            h2
                font-size: 4.1775rem
            p
                font-size: 2.6044rem
                padding-top: 5px
            &:nth-child(2)
                padding-left: 221px
            &:nth-child(3)
                padding-left: 189px
                
    